### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
paths.py
Heatmap/model/ubuntu_copy/
preprocessing/global_mapper/datasets/
preprocessing/global_mapper/gt_graph_output/
preprocessing/global_mapper/gt_graph_figure/
preprocessing/global_mapper/gt_graph_datasets/
preprocessing/global_mapper/grid_graph_datasets/
preprocessing/global_mapper/grid_graph_figure/
preprocessing/global_mapper/grid_graph_output/
preprocessing/global_mapper/graph_generation_datasets/
preprocessing/global_mapper/gt_images_graph/
preprocessing/global_mapper/gt_images_image_resnet34/
preprocessing/global_mapper/ours_graph_datasets/
preprocessing/global_mapper/synthetic_images_image_resnet34/
preprocessing/global_mapper/synthetic_images_graph/
*.pth
*.tar
