### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
paths.py
Heatmap/model/ubuntu_copy/
preprocessing/global_mapper/datasets/
preprocessing/global_mapper/output/
preprocessing/global_mapper/figure/
preprocessing/global_mapper/grid_graph_datasets/
preprocessing/global_mapper/gt_graph_datasets/
GlobalMapper-main/
*.pth